@page "/reservation"
<div class="reservation finder">
    <h3 class="text-center">Reservation Finder</h3>
    <div class="row">
        <div class="col">
            Code:
            <input type="text" @bind="resCode" placeholder="Any" />
        </div>
        <div class="col ">
            Airline:
            <input type="text" @bind="resAirline" placeholder="Any" />
        </div>
        <div class="col ">
            Name:
            <input type="text" @bind="resName" placeholder="Any" />
        </div>

        <div class="col ">
            <button type="submit" class="btn btn-primary btn-sm btn-block m-0" onclick="@(() => findReservation(resCode,resAirline,resName))">Find reservation</button>

        </div>
    </div>

</div>
<div class="reservations">
    <h3 class="text-center">Reservations</h3>

    @if (foundReservations.Count() == 0)
    {
        <div class="row">
            <input type="text" placeholder="Loading...">
        </div>
    }
    else
    {
        <div class="row">
            <input type="text" value="@foundReservations[0].getReservationInfo()">
        </div>
    }

</div>

<div class="reserve">
    <div class="row">
        <h3 class="text-center">Reserve</h3>

        @if (foundReservations.Count() == 0)
        {
            <p>Select A Reservation</p>
        }
        else
        {
            <div class="row">
                Flight Code:
                <input type="text" placeholder="Flight" @bind="resCode" readonly />
                Airline:
                <input type="text" placeholder="Airline" @bind="resAirline" readonly />
                Day:
                <input type="text" placeholder="Day" @bind="resDepartDay" readonly />
                Time:
                <input type="text" placeholder="Time" @bind="resDepartureTime" readonly />
                Name:
                <input type="text" placeholder="Name" @bind="resName" />
                Citizenship:
                <input type="text" placeholder="Citzenship" @bind="resCitizenship" />
                Status:
                <input type="text" placeholder="Status" @bind="resIsActive" />

                <button type="Update" class=" mt-4 btn btn-primary btn-sm " onclick="@(() => updateReservation(resName,resCitizenship,resIsActive))">Update</button>
            </div>
        }

    </div>
</div>

@code {


}
