
.formCol[b-hxo0s1sree] {
    margin-top: 15px;
}
div.submit[b-hxo0s1sree] {
   
    
}
#resSub[b-hxo0s1sree]{
    margin-top:100px;

}
#resCode[b-hxo0s1sree] {
   
    text-align:center;
    margin-top: 10px;
}
